/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 nov 2024, 2:58:28 p.m.
    Author     : Carlos Daniel
*/

            .login{
                margin-top: 200px;
            }
            .container{
                color: white;
                background-color: rgba(0, 0, 0, 0.5);
                width: 300px;
                padding-top: 50px;
                padding-bottom: 60px;
                border-radius: 15px;
                border: 2px solid black;  
            }
            body{
                
                
                background-image: url("https://img.wallpapic.com/i6551-527-221/medium/espacio-exterior-luna-planeta-universo-fondo-de-pantalla.jpg");
                background-size: cover; 
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
                
            }
            .inicio{
                margin-top: 10px;
            }
            .mensajeDeError{
                color: red;
            }